<div class="page-header">
  <h1>About application</h1>
</div>
<p>This application is intended to help improve the communication and management of ongoing Capital Sports Entertainment marketing emails and the scheduling of Capital Tickets website spotlight/banners.</p>
<p>Registered users are encouraged to contact Denis Kishinevsky at ext. 4173 with any questions or suggestions regarding the functionality of this application.</p>
<p>Go Sens Go!</p>